$color-blue : rgba(148,172,227,255);
$color-wechat: #1AAD19; //Wechat color
$color-ins: #E4405F; //Ins color
$color-pink: #FF69B4; //Pink color
$color-UIBackground: $color-blue;
//-------Font family
$font-family : 'Courier New', Courier, monospace;


.input{
    width: 100%;
    height: 3vh;
    background-color: white;
    padding: 20px 10px;
    
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.25s;
    font-size: large;
    &:focus, &:active{
        outline:none;
        border: 1px solid $color-pink;
    }
}