#navbar {
    /* border: 1px solid green; */
    position: fixed;
    top: 0;
    width: calc(100vw - 4rem);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
}

#navbar1 {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

